
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/fira_sans_300_normal.woff2") format("woff2");
}


@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/fira_sans_400_normal.woff2") format("woff2");
}


@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/fira_sans_500_normal.woff2") format("woff2");
}


@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/fira_sans_600_normal.woff2") format("woff2");
}


@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/fira_sans_700_normal.woff2") format("woff2");
}


@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/pt_serif_400_normal.woff2") format("woff2");
}


@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/pt_serif_700_normal.woff2") format("woff2");
}
